
<div class="col-xs-5 map-container">
<div id='map-canvas'>
</div>
</div>

<div class='col-xs-7 container-full index-box'>
  <% spaces.each(function(space){ %>
      <div class='col-xs-6 image-preview'>
        <a href='#/spaces/<%= space.id %>'>
            <img class='index-image' src='<%= space.escape("photo_url") %>'>
            <img class='avatar-image img-circle' src='<%= space.escape("user_avatar") %>'>
            <div class='price-tag'><%= '$ ' + space.escape('price') %></div>
            <div class='space-title'><%= space.escape('title') %></div>
            <div class='space-location'><%= space.escape('location') %></div>
        </a>
      </div>
    <% }); %>
</div>
