<div class='space-banner'>
  <a href='#/profile/<%= space.escape("user_id") %>'>
      <img src='<%= space.get("user_avatar") %>' class='img-circle owner-avatar'>
  </a>
  <div class='owner-name'>
    <%= space.escape("user_name") %>
  </div>
  <div class='title-header'>
    <h1 id='space-title'> <%= space.get('title') %> </h1>
  </div>

  <div class='affix' id='right-info-box'>
      <div class='price-box'>
        <%= "$ " + space.escape("price")  %>
      </div>
      <div class='booking-form'>
      </div>
  </div>
</div>

<div style='background: #F5F5F5'>
  <div class='container-full'>
    <div class='row'>
      <div class='col-xs-7' id='left-info-box'>

        <div class='content'>
          <h3> About This Listing </h3>

          This is a great private room in my full
          floor flat on the 2nd floor of a beautiful
          Williamsburg townhome. The apartment is central
          to all that williamsburg has to offer. JMZ and L
          trains are all one stop away from Manhattan!
        </div>

        <img src='<%= space.get("photo_url") %>' class='show-image'>


        <div class='container-full description-box'>
          <div class='col-xs-2 left-description'>Description</div>
          <div class='col-xs-10 right-description'>
             <div style='white-space: pre-line;'>
               <%= space.get('description') %>
             </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>
<% if (space.reviews().length > 0) { %>
  <div id='reviews-box' class='container-full'>
    Summary
  </div>
<% } %>
